.form-style input,
button,
a {
    width: 70%;
    align-items: center;
    margin-left: 4rem;
    font-size: 2rem;
    margin-top: 1rem;
}

.form-style button,
a {
    width: 60%;
    margin-top: 3rem;
}